{% extends 'base.html' %} {% block title %}Mitglied hinzuf&uuml;gen{% endblock %} {% block content %}
<div class="mt-1">
    <a class="btn btn-dark btn-sm float-end" href="{{ url_for('mitglieder.index') }}"> Zur&uuml;ck </a>
</div>
<div class="mt-1">
    <form id="form">
        <div class="mb-3">
            <label class="form-label" for="vorname">Vorname</label>
            <input class="form-control" id="vorname" name="vorname" type="text" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="nachname">Nachname</label>
            <input class="form-control" id="nachname" name="nachname" type="text" />
        </div>
        <button class="btn btn-primary" type="submit">Hinzuf&uuml;gen</button>
    </form>
</div>
<script>
    {% include 'js/mitglied-hinzufuegen.js' %}
</script>
{% endblock %}
