{% extends 'base.html' %}

{% block title %}Mitglieder{% endblock %}

{% block content %}
    <div class="mt-1">
        <a class="btn btn-dark btn-sm float-end" href="{{ url_for("mitglieder.hinzufuegen") }}">
            Hinzuf&uuml;gen
        </a>
    </div>
    <div class="mt-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Nachname</th>
                    <th scope="col">Vorname</th>
                    <th scope="col">Kleidungsst&uuml;cke</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    <tr class="mitglied" data-id="{{ row.id }}">
                        <td data-column="nachname">{{ row.nachname }}</td>
                        <td data-column="vorname">{{ row.vorname }}</td>
                        <td>{{ len(row.ausgeliehene_kleidung) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="mitglied-details"></div>
    <script id="mitglied-details-template" type="text/x-handlebars-template">
        {% include 'html/mitglied-details.html' %}

    </script>

    <script>
        {% include 'js/mitglied.js' %}
    </script>
{% endblock %}