{% extends 'base.html' %}

{% block title %}Kleidung{% endblock %}

{% block content %}
    <div class="mt-1">
        <a class="btn btn-dark btn-sm float-end" href="{{ url_for("kleidung.hinzufuegen") }}">
            Hinzuf&uuml;gen
        </a>
    </div>
    <div class="mt-1">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Kategorie</th>
                    <th scope="col">Hersteller</th>
                    <th scope="col">Modell</th>
                    <th scope="col">Gr&ouml;&szlig;e</th>
                    <th scope="col">Jahr</th>
                    <th scope="col">W&auml;schen</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows -%}
                    <tr data-id="{{ row.id }}" data-typ="{{ row.typ.id }}"
                        data-kategorie-id="{{ row.typ.kategorie.id }}">
                        <th scope="row">{{ row.code }}</th>
                        <td>{{ row.typ.kategorie.name }}</td>
                        <td>{{ row.typ.hersteller }}</td>
                        <td>{{ row.typ.modell }}</td>
                        <td>{{ row.groesse }}</td>
                        <td>{{ row.anschaffungsjahr }}</td>
                        <td>tbd</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}