{% extends 'base.html' %} {% block title %}Kleidung{% endblock %} {% block content %}
<div class="mt-1">
    <a class="btn btn-dark btn-sm float-end" href="{{ url_for('kleidung.hinzufuegen') }}"> Hinzuf&uuml;gen </a>
</div>
<div class="mt-1">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    {% macro table_header(title, column, data) %}
                    <th scope="col">
                        <span
                            class="dropdown-toggle text-decoration-none"
                            data-bs-toggle="dropdown"
                            data-bs-auto-close="outside"
                            aria-expanded="false"
                        >
                            {{ title }}
                        </span>
                        <div class="dropdown-menu p-1">
                            {% for item in data %}
                            <div class="form-check">
                                <input
                                    class="form-check-input filter"
                                    id="filter-{{ column }}-{{ loop.index }}"
                                    data-column="{{ column }}"
                                    type="checkbox"
                                    value="{{ item }}"
                                />
                                <label class="form-check-label" for="filter-{{ column }}-{{ loop.index }}">{{ item }}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </th>
                    {% endmacro %}

                    <th scope="col">Code</th>
                    <!-- prettier-ignore -->
                    {{ table_header('Kategorie', 'kategorie', kategorien) }}
                    <!-- prettier-ignore -->
                    {{ table_header('Hersteller', 'hersteller', hersteller) }}
                    <!-- prettier-ignore -->
                    {{ table_header('Modell', 'modell', modelle) }}
                    <!-- prettier-ignore -->
                    {{ table_header('Gr\xF6\xDFe', 'groesse', groessen) }}
                    <!-- prettier-ignore -->
                    {{ table_header('Jahr', 'jahr', jahre) }}
                    <!-- prettier-ignore -->
                    {{ table_header('W\xE4schen', 'waeschen', waeschen) }}
                    <!-- prettier-ignore -->
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody id="kleidungstabelle">
                {% for row in rows -%}
                <tr class="kleidung" data-id="{{ row.id }}" data-typ="{{ row.typ_id }}" data-kategorie-id="{{ row.kategorie_id }}">
                    <th data-column="code" scope="row">{{ row.code }}</th>
                    <td data-column="kategorie">{{ row.kategorie_name }}</td>
                    <td data-column="hersteller">{{ row.typ_hersteller }}</td>
                    <td data-column="modell">{{ row.typ_modell }}</td>
                    <td data-column="groesse">{{ row.groesse }}</td>
                    <td data-column="jahr">{{ row.anschaffungsjahr }}</td>
                    <td data-column="waeschen">{{ row.waeschen }}</td>
                    <td data-column="status">
                        <span
                            class="badge {{ 'bg-primary' if row.in_waesche else ('bg-success' if not row.ausgeliehen_an else 'bg-light text-dark') }}"
                        >
                            {% if row.ausgeliehen_an %} {{ row.ausgeliehen_an }} {% else %} Lager {% endif %}
                        </span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div id="kleidung-details"></div>
{% include 'html/kleidung-details.html' %}

<script>
    {% include 'js/kleidung.js' %}
</script>
{% endblock %}
