<div>
    <form id="benutzer-erstellen">
        <div class="mb-3">
            <label for="username" class="form-label">Benutzername</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Kennwort</label>
            <input type="password" class="form-control" id="password" name="password">
            <div class="form-text">Der Benutzer muss nach dem ersten Anmelden das Kennwort &auml;ndern.</div>
        </div>

        <button type="submit" class="btn btn-secondary">Erstellen</button>
    </form>
</div>
<script>
    {% include 'js/benutzer-erstellen.js' %}
</script>