<div>
    <form id="benutzer-erstellen">
        <div class="mb-3">
            <label class="form-label" for="benutzername">Benutzername</label>
            <input class="form-control" id="benutzername" name="username" type="text" />
        </div>
        <div class="mb-3">
            <label class="form-label" for="passwort">Kennwort</label>
            <input class="form-control" id="passwort" name="password" type="password" />
            <div class="form-text">Der Benutzer muss nach dem ersten Anmelden das Kennwort &auml;ndern.</div>
        </div>

        <button class="btn btn-secondary" type="submit">Erstellen</button>
    </form>
</div>
<script>
    {% include 'js/benutzer-erstellen.js' %}
</script>
