<div>
    <form id="kennwort-aendern">
        <div class="mb-3">
            <label class="form-label" for="current-password">Aktuelles Kennwort</label>
            <input class="form-control" id="current-password" name="current-password" type="password" />
        </div>

        <div class="mb-3">
            <label class="form-label" for="new-password">Neues Kennwort</label>
            <input class="form-control" id="new-password" name="new-password" type="password" />
        </div>

        <div class="mb-3">
            <label class="form-label" for="new-password2">Wiederholdung</label>
            <input class="form-control" id="new-password2" name="new-password2" type="password" />
        </div>

        <button class="btn btn-secondary" type="submit">Ändern</button>
    </form>
</div>
<script>
    {% include 'js/kennwort-aendern.js' %}
</script>
