{% extends 'base.html' %}

{% block title %}Mitglieder{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nachname</th>
                <th scope="col">Vorname</th>
                <th scope="col">Kleidungsst&uuml;cke</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr data-id="{{ row.id }}">
                    <td>{{ row.nachname }}</td>
                    <td>{{ row.vorname }}</td>
                    <td>tbd</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}