<!DOCTYPE html>
<html lang="de">
    <head>
        <base href="/" />
        <meta charset="UTF-8" />
        <meta name="application-name" content="{{ app_name }}" />
        <meta name="description" content="Kleiderkammer Inventarisierungssystem" />
        <meta name="author" content="Michel Blank" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
        <meta name="robots" content="noindex,nofollow" />
        <meta name="referrer" content="no-referrer" />
        <title>{% block title %} {% endblock %} - {{ app_name }}</title>
        <link type="image/svg+xml" href="{{ url_for('static', filename='assets/images/bootstrap-fire.svg') }}" rel="icon" />
        <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='assets/css/bootstrap-icons.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='assets/css/base.css') }}" rel="stylesheet" />
        <script src="{{ url_for('static', filename='assets/js/bootstrap.bundle.min.js') }}" defer></script>
        <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/jquery-dateformat.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/handlebars.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/base.js') }}"></script>
    </head>
    <body>
        <header>{% include 'header.html' %}</header>

        <main>
            <div class="container d-flex flex-grow-1 flex-shrink-1 flex-column h-100">{% block content %} {% endblock %}</div>
        </main>

        <footer class="d-flex" style="flex: 0 0 auto">{% include 'footer.html' %}</footer>
    </body>
</html>
