<!DOCTYPE html>
<html lang="de">
    <head>
        <base href="/">
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %} - Kleiderkammer</title>
        <link rel="stylesheet" href="static/assets/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="static/assets/css/bootstrap-icons.css"/>
        <script defer src="static/assets/js/bootstrap.bundle.min.js"></script>
    </head>
    <body>
        <header>
            {% include 'header.html' %}
        </header>

        <main>
            {% block content %} {% endblock %}
        </main>

        <footer>
            {% include 'footer.html' %}
        </footer>
    </body>
</html>