<div class="text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap">
            {# Brand icon #}
            <a class="d-flex me-lg-auto text-white text-decoration-none" href="{{ url_for('kleidung.index') }}">
                <i class="bi-fire d-flex justify-content-center flex-column" style="font-size: 1.75rem;"></i>
            </a>

            {# Navigation #}
            <ul class="nav text-small">
                {%- macro active(view) -%}
                    {% if request.endpoint == view %} text-white {% else %} text-secondary {% endif %}
                {%- endmacro -%}

                {% macro navigation_item(title, view, icon_cls) %}
                    <li>
                        <a class="nav-link {{ active(view) }}" href="{{ url_for(view) }}">
                            <i class="{{ icon_cls }} d-block text-center" style="font-size: 1.5rem;"></i>
                            {{ title }}
                        </a>
                    </li>
                {%- endmacro -%}

                {{ navigation_item('Kleidung', 'kleidung.index', 'bi-shop-window') }}
                {{ navigation_item('Mitglieder', 'mitglieder.index', 'bi-people') }}
                {{ navigation_item('Einstellungen', 'einstellungen.index', 'bi-gear') }}
            </ul>
        </div>
    </div>
</div>